<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directory</title>
    <style>
        body {
            background-color: black;
            color: green;
            font-family: Courier, monospace;
        }
    </style>
</head>
<body>
    <h1>User Directory</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Agent Number</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user[1] }} {{ user[3] }}</td>
            <td>{{ user[6] }}</td>
            <td>{{ user[5] }}</td>
            <td>{{ user[0] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>